body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main{
    
    background-color: rgb(156, 91, 148);
}